<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div display="flex">
                <div align="left">
                    <h1>Миссия Колонизация Марса</h1>

                </div>
                <div align="right">
                    <a href="/index/Заготовка">Mars One</a>
                </div>
            </div>
        </nav>
        <h4>И на Марсе будут яблони цвести!</h4>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>